.single__content {
   
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 10%;
    align-items: center;
    img{
        width: 70%;
    }

    span{
        text-decoration: line-through;
    }
}

.card_cont{
    display: flex;
    gap: 20px;
}
.card_s{
    font-size: 20px
}
.card_d{
   padding: 20px 0px;
}

.loading__card{
    margin-top: 100px;
    display: flex;
    gap: 50px;

}